html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 40px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(110, 160, 214);;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 600px;
    column-gap: 20px;
}

.game {
    background-color: white;
    width: 500px;
    height: 500px;
    border: 2px solid rgb(49, 49, 205);
}

.options {
    width: 375px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

.opt-row1, .opt-row2, .opt-row3, .opt-row4 {
    display: flex;
    column-gap: 5px;
}

.opt-row1 {
    column-gap: 28px;
    margin-bottom: 5px;
}

.opt-num {
    border: none;
    border-radius: 5px;
    width: 105px;
    height: 105px;
    background-color: rgb(33, 36, 37);
    color: rgb(110, 160, 214);
    font-size: 40px;
    font-weight: 100;
    transition: background-color 0.15s;
}

.opt-num:hover, .new-game:hover, .opt-opt:hover {
    background-color: rgb(55, 59, 60);
}

.new-game {
    background-color: rgb(33, 36, 37);
    width: 325px;
    height: 70px;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

.opt-opt {
    width: 60px;
    height: 60px;
    background-color: rgb(33, 36, 37);
    border-radius: 40px;
    color: white;
    border: 1px solid rgb(110, 160, 214);
    font-size: 30px;
    color: rgb(110, 160, 214);
    margin-bottom: 5px;
}

.opt-row1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}